.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* หรือสีพื้นหลังที่คุณต้องการ */
}

.logo {
  width: 200px;
  height: auto;
  cursor: pointer;
}


